<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/global.css">
    <title>Admin - Agência Devhouse</title>
</head>
<body>
    <%- include('../components/header') %>
    <main>
       <form action="/admin/cadastroProdutos" method="POST">
           <label>Nome do Produto</label>
           <input type="text" name="nome">
           <label>Descrição do Produto</label>
           <input type="text" name="descricao">
           <label>Link da Imagem do Produto</label>
           <input type="text" name="imagem">
           <button type="submit">Finalizar Cadastro</button>
       </form>
    </main>
</body>
</html>