<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin - Agência Devhouse</title>
</head>
<body>
    <%- include('../components/header') %>
    <main>
       <form action="">
           <label for="">Nome do Produto</label>
           <input type="text" name="nome">
           <label for="">Descrição do Produto</label>
           <input type="text" name="descricao">
           <label for="">Lin da Imagem do Produto</label>
           <input type="text" name="imagem">
           <button type="submit">Finalizar Cadastro</button>
       </form>
    </main>
</body>
</html>