<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/global.css">
    <link rel="stylesheet" href="/css/produtosAdmin.css">
    <title>Admin - Agência Devhouse</title>
</head>

<body>
    <%- include('../components/header') %>
    <main>
        <div>
            <a href="/admin/cadastroProdutos"><button class="button-cadastrar-produtos">Cadastrar Produto</button></a>
        </div>
        <table>
            <thead>
                <tr>
                    <th>id</th>
                    <th>Nome</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                <% produtos.forEach(produto => { %>
                <tr>
                    <td><%= produto.id %></td>
                    <td><%= produto.nome %></td>
                    <td>
                        <form action="/deletar-produto/<%= produto.id %>?_method=DELETE" method="POST">
                            <button type="submit">Excluir</button>
                        </form>
                    </td>
                </tr>
                <% }); %>
            </tbody>
        </table>
    </main>
</body>

</html>