<header>
    <a href="/home"><img src="/img/home-page/logo.png" title="Logo Dev House" alt="logo devHouse"></a>
    <img id="menu-mobile" src="/img/home-page/menu-icon.png" title="Menu Incon" alt="menu-icon">
    <nav class="menu">
        <a href="">Home</a>
        <a href="">Produtos</a>
        <a href="">Depoimentos</a>
    </nav>
    <div class="atendimento">
        <a href="telto:+00&nbsp;123&nbsp;456&nbsp;789">(00) 12345-6789</a>
        <button>Atendimento</button>
    </div>
</header>