<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Blog DH</title>
</head>

<body>
    <header>
        <div>
            <h1 class="titulo-noticia">DH News</h1>
            <p><strong>Postado dia 08/07/2021</strong></p>
        </div>
    </header>
    <section>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Pariatur <strong>doloremque quaerat</strong>
            dignissimos maxime, earum eligendi quam nostrum cupiditate sint tenetur? Voluptatibus ducimus doloremque
            libero consectetur neque officiis fugit nemo facere!</p>
        <img src="/img/destaque.webp" alt="Destaque">
    </section>
    <section>
        <h3 class="subtitulo-noticia">Pariatur architecto doloremque debitis distinctio</h3>

        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi totam eaque magni sunt. A obcaecati sequi
            repellendus quas accusantium! Maxime repellendus reprehenderit doloremque quas praesentium qui explicabo?
            Ipsa, nobis eius.</p>

        <ol>
            <li>Lorem ipsum dolor sit amet consectetur</li>
            <li>Corporis debitis, delectus, exercitationem</li>
            <li>Eveniet dolor delectus ordit amet est</li>
        </ol>

        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Numquam itaque molestias magnam, voluptas deserunt
            a corporis cupiditate possimus labore quam in atque totam repellendus hic voluptatum. Dolorum rerum ea
            aperiam?</p>
    </section>
    <section>
        <h3><strong>Nunquam totam sit aperiam, pariatur architecto doloremque dbitis distinctio</strong></h3>

        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Fugit saepe eum magni modi earum assumenda
            accusamus ipsa commodi, sit ad reprehenderit suscipit voluptatum itaque porro! Quidem corporis cum doloribus
            nihil?</p>

        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Id deleniti quae eum perspiciatis laboriosam iste
            asperiores commodi. Ipsa nemo sapiente illo aut! Consectetur alias perferendis voluptas unde aliquam animi
            quos!</p>

        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci, amet sapiente saepe perspiciatis excepturi
            voluptates delectus perferendis tenetur aliquid eligendi id, nesciunt ad dolores quod corrupti sequi,
            impedit ullam doloribus.</p>
    </section>
    <hr>
    <footer>
        <!-- <ul>
            <li><a href="https://www.facebook.com"><img  height="30" src="/img/facebook.svg" alt="Facebook"></a></li>

            <li><a href="https://www.instagram.com"><img height="30" src="/img/instagram.svg" alt="Instagam"></a></li>

            <li><a href="https://linkedin.com"><img height="30" src="/img/linkedin.svg" alt="Linkedin"></a></li>

            <li> <a href="https://youtube.com"><img height="30" src="/img/youtube.svg" alt="Youtube"></a></li>
        </ul> -->
        <div>
            <div class="footer-div">
                <a href="https://www.facebook.com" target="_blank"><img class="social-icons" src="/img/facebook.svg"
                        alt="Facebook"></a>
                <a href="https://www.instagram.com" target="_blank"><img class="social-icons" src="/img/instagram.svg"
                        alt="Instagam"></a>
                <a href="https://linkedin.com" target="_blank"><img class="social-icons" src="/img/linkedin.svg"
                        alt="Linkedin"></a>
                <a href="https://youtube.com" target="_blank"><img class="social-icons" src="/img/youtube.svg"
                        alt="Youtube"></a>
            </div>
        </div>
    </footer>
</body>

</html>