<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog DH</title>
</head>
<body>
    <header>
        <div>
            <h1 style="color: red; font-family: sans-serif;">DH News</h1>
            <p style="font-family: sans-serif;"><strong>Postado dia 08/07/2021</strong></p>
        </div>
    </header>
    <section>
        <p style="font-family: sans-serif;">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Pariatur <strong>doloremque quaerat</strong> dignissimos maxime, earum eligendi quam nostrum cupiditate sint tenetur? Voluptatibus ducimus doloremque libero consectetur neque officiis fugit nemo facere!</p>
        <img src="/img/destaque.webp" alt="Destaque">
    </section>
    <section>
        <h3 style="font-family: sans-serif;">Pariatur architecto doloremque debitis distinctio</h3>

        <p style="font-family: sans-serif;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi totam eaque magni sunt. A obcaecati sequi repellendus quas accusantium! Maxime repellendus reprehenderit doloremque quas praesentium qui explicabo? Ipsa, nobis eius.</p>

        <ol type="1" style="font-family: sans-serif;">
            <li style="font-family: sans-serif;">Lorem ipsum dolor sit amet consectetur</li>
            <li style="font-family: sans-serif;">Corporis debitis, delectus, exercitationem</li>
            <li style="font-family: sans-serif;">Eveniet dolor delectus ordit amet est</li>
        </ol>

        <p style="font-family: sans-serif;">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Numquam itaque molestias magnam, voluptas deserunt a corporis cupiditate possimus labore quam in atque totam repellendus hic voluptatum. Dolorum rerum ea aperiam?</p>
    </section>
    <section>
        <h3 style="font-family: sans-serif;"><strong>Nunquam totam sit aperiam, pariatur architecto doloremque dbitis distinctio</strong></h3>

        <p style="font-family: sans-serif;">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Fugit saepe eum magni modi earum assumenda accusamus ipsa commodi, sit ad reprehenderit suscipit voluptatum itaque porro! Quidem corporis cum doloribus nihil?</p>

        <p style="font-family: sans-serif;">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Id deleniti quae eum perspiciatis laboriosam iste asperiores commodi. Ipsa nemo sapiente illo aut! Consectetur alias perferendis voluptas unde aliquam animi quos!</p>

        <p style="font-family: sans-serif;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci, amet sapiente saepe perspiciatis excepturi voluptates delectus perferendis tenetur aliquid eligendi id, nesciunt ad dolores quod corrupti sequi, impedit ullam doloribus.</p>
    </section>
    <hr>
    <footer>
        <div align="center">
            <section><a href="https://www.facebook.com"><img  height="50" src="/img/facebook.svg" alt="Facebook"></a></section>
            <section><a href="https://www.instagram.com"><img height="50" src="/img/instagram.svg" alt="Instagam"></a></section>
            <section><a href="https://linkedin.com"><img height="50" src="/img/linkedin.svg" alt="Linkedin"></a></section>
            <section><a href="https://youtube.com"><img height="50" src="/img/youtube.svg" alt="Youtube"></a></section>
        </div>
    </footer>
</body>
</html>