<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/home.css">
    <title>Depoimentos</title>
</head>
<body>
    <header>
        <%- include('components/header') %> 
    </header>

    <main>
        <form action="/cadastrar-depoimento" method="POST">
            <label for="">Seu nome</label>
            <input type="text" name="autor" id="">

            <label for="">Título do seu depoimento</label>
            <input type="text" name="titulo" id="">

            <label for="">Descrição do depoimento</label>
            <textarea name="descricao" id="" cols="30" rows="10"></textarea>

            <button type="submit">Enviar</button>
        </form>
    </main>

</body>
</html>